# WIP: Ignore this file
[all]
name="Project Name"

[local]
# Used in provisioning
host=localhost
username=vagrant
project_root=/home/vagrant/src/public_html #RPC convention here. Example.

# Database Credentials
dbname=my_db
dbuser=notroot
dbpassword=secret
dbport=3306
mysql_root_pass=toor


[production]
# Used in provisioning
host=example.com
username=ubuntu

# Database Credentials
dbname=my_db
dbuser=notroot
dbpassword=secret
dbport=3306
mysql_root_pass=toor
