<VirtualHost *:80>
        ServerAdmin webmaster@localhost

        DocumentRoot {{ sync_folder }}{{ document_root }}

        <Directory />
            AllowOverride All
            Require all granted
        </Directory>

        ErrorLog /var/log/apache2/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog /var/log/apache2/access.log combined

</VirtualHost>